/* 
***************
Media Queries Breakpoints for Responsive Design
***************
*/

/* Mobile */
@media only screen and (max-width: 600px){
    .imgContainer{
        margin: 2%;
        height: 300px;
    }
}

/* Tablet */
@media only screen and (min-width: 600px){
    .imgContainer{
        margin: 5%;
        height: 350px;
    }

}

/* Desktop */
@media only screen and (min-width: 1030px){
    .imgContainer{
        margin: 1%;
        height: 300px;
    }
    
}

/* ImageContainer.jsx Stylesheet */
.imgContainer{
    display: flex;
    justify-content: center;
}

img{
    box-shadow: 1px 1px 5px #000000;
}